body {
  background: rgb(242, 242, 242);
}
.btn-close {
  cursor: pointer;
}

/* popup 01 */
#popup-1 {
  width: 600px;
  background-color: #222533;
  color: white;
  padding: 40px 120px;
}
#popup-1 h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 40px;
}
#popup-1 h1 p {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}
#popup-1 .btn-get-code {
  width: 210px;
}
#popup-1 input {
  border-radius: 0.45rem !important;
  border: solid 1px rgb(179, 179, 179);
  font-size: 0.875rem;
}
#popup-1 a {
  text-decoration: underline !important;
  font-weight: 300;
  font-size: 0.87rem;
  color: #478ac9 !important;
}
@media all and (max-width: 767px) {
  #popup-1 {
    width: 100%;
    padding: 40px 15px;
  }
}

/* popup 02 */
#popup-2 {
  width: 790px;
}
#popup-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#popup-2 .content {
  background: #fff;
  padding: 90px 20px !important;
}
#popup-2 h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
#popup-2 p {
  font-size: 1.125rem;
  width: 273px;
  margin: 20px auto 40px;
  color: #999;
}
#popup-2 input {
  border-radius: 0.45rem !important;
  font-size: 0.875rem;
  border: solid 1px rgb(179, 179, 179);
}
#popup-2 .btn-activate {
  width: 210px;
}
@media all and (max-width: 767px) {
  #popup-2 {
    width: 100%;
  }
  #popup-2 img {
    width: 60%;
  }
}

/* popup 03 */
#popup-3 {
  width: 800px;
  padding: 30px;
  background: #fff;
}
#popup-3 h1 {
  width: 500px;
  font-size: 30px;
  font-weight: 400;
}
#popup-3 h2 {
  font-size: 24px;
  font-weight: 400;
}
#popup-3 .img {
  width: 100%;
  height: 100%;
  background: url("../img/Product-61.jpg");
  background-position: center;
  background-size: cover;
}
#popup-3 .select2.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
}
#popup-3 .title a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #000 !important;
  text-decoration: none !important;
}
#popup-3 .desc {
  line-height: 1.4;
  font-size: 0.85rem;
  font-style: normal;
  color: rgb(128, 128, 128);
}
#popup-3 .stock i {
  font-size: 25px;
}
#popup-3 .stock {
  color: #f32261 !important;
}
#popup-3 .price {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #f32261 !important;
}
#popup-3 .price .discount {
  text-decoration: line-through;
  font-size: 0.875rem;
  color: #000;
  font-weight: 300;
  padding: 0 10px;
}
#popup-3 .price .save {
  color: #69ac34 !important;
  font-size: 0.875rem;
  background-color: #e4f0db;
  padding: 2px 5px;
  font-weight: 300;
}
#popup-3 .divider {
  width: 100px;
  height: 3px;
  border-color: #f32261;
  margin: 0 auto 15px;
  stroke: #f32261;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-width: 2px;
  border-style: solid;
}
#popup-3 a {
  text-decoration: underline !important;
  font-weight: 300;
  font-size: 0.87rem;
  color: #478ac9 !important;
}
@media all and (max-width: 991px) {
  #popup-3 {
    width: 600px;
  }
}
@media all and (max-width: 767px) {
  #popup-3 {
    width: 100%;
  }
  #popup-3 .img {
    margin-bottom: 30px;
    height: 600px;
  }
  #popup-3 h1 {
    width: 100%;
    font-size: 20px;
  }
  #popup-3 h2 {
    font-size: 15px;
  }
}

/* popup 04 */
#popup-4 {
  width: 780px;
}
#popup-4 .offer .select2.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
}
#popup-4 .offer .title a {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
}
#popup-4 .offer .desc {
  line-height: 1.4;
  font-size: 0.85rem;
  font-style: normal;
}
#popup-4 .offer .price {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #f32261 !important;
}
#popup-4 .offer .price .discount {
  text-decoration: line-through;
  font-size: 0.875rem;
  color: #000;
  font-weight: 300;
  padding: 0 10px;
}
#popup-4 .offer .price .save {
  color: #69ac34 !important;
  font-size: 0.875rem;
  background-color: #e4f0db;
  padding: 2px 5px;
  font-weight: 300;
}
#popup-4 .oheader {
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 15px;
  background-color: #2c3e50;
  font-weight: 400;
  font-size: 1.875rem;
}
#popup-4 .stock i {
  font-size: 20px;
}
#popup-4 .stock {
  color: #f32261 !important;
  font-size: 16px;
}
#popup-4 .offers {
  background: #eee;
}
#popup-4 h2 {
  font-weight: 400;
  font-size: 1.5rem;
}
#popup-4 .checkout {
  background: #fff200;
  border-radius: 10px;
}
#popup-4 .checkout input {
  border-radius: 10px;
  width: 360px;
}
#popup-4 .checkout button {
  width: 180px;
}
@media all and (max-width: 767px) {
  #popup-4 {
    width: 100%;
  }
  #popup-4 .checkout input {
    width: 100%;
  }
  #popup-4 .oheader {
    font-size: 1.5rem;
  }
}

/* popup 05 */
#popup-5 {
  width: 680px;
}
#popup-5 .header {
  color: #ffffff;
  background-color: #222533;
  padding: 20px 30px 60px;
}
#popup-5 .header .btn-close {
  text-align: right;
  width: 25px;
  cursor: pointer;
}
#popup-5 .header .icon-cart {
  margin: 20px auto;
  width: 64px;
}
#popup-5 h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #f32261 !important;
  margin-bottom: 20px;
}
#popup-5 h2 {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
}
#popup-5 .form-body {
  background: #fff !important;
  padding: 45px 120px;
}
#popup-5 .form-body input {
  border-radius: 10px;
}
@media all and (max-width: 767px) {
  #popup-5 {
    width: 100%;
  }
  #popup-5 .header {
    padding: 20px;
  }
  #popup-5 .form-body {
    padding: 30px 15px;
  }
}

/* popup 06 */
#popup-6 {
  width: 800px;
  margin: 0 auto;
}
#popup-6 .header {
  padding: 1rem;
  background: rgb(217, 217, 217);
}
#popup-6 .header h1 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
#popup-6 .body {
  background: #fff;
}
#popup-6 .body table {
  width: 100%;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
#popup-6 .body table tbody td,
#popup-6 .body table thead th {
  vertical-align: middle;
}
@media all and (max-width: 767px) {
  #popup-6 {
    width: 100%;
  }
}

/* popup 07 */
#popup-7 {
  width: 1033px;
}
#popup-7 .offers {
  background-color: #fff;
}
#popup-7 .offer .select2.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
}
#popup-7 .offer .title a {
  text-decoration: none !important;
  color: #000 !important;
  font-size: 0.95rem;
  font-weight: 700;
}
#popup-7 .offer .desc {
  line-height: 1.4;
  font-size: 0.85rem;
  font-style: normal;
  color: #808080;
}
#popup-7 .offer .price {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f32261 !important;
}
#popup-7 .offer .price .discount {
  text-decoration: line-through;
  font-size: 0.85rem;
  color: #000;
  font-weight: 300;
  padding: 0 10px;
}
#popup-7 .offer img {
  height: 350px;
  object-fit: cover;
  object-position: top;
}
#popup-7 .offer .price .save {
  color: #69ac34 !important;
  font-size: 0.85rem;
  background-color: #e4f0db;
  padding: 2px 5px;
  font-weight: 300;
}
#popup-7 .stock i {
  font-size: 20px;
}
#popup-7 .stock {
  font-size: 16px;
  color: #f32261 !important;
}
#popup-7 a {
  text-decoration: underline !important;
  font-weight: 300;
  color: #478ac9 !important;
  font-size: 0.87rem;
}
#popup-7 h1 {
  color: #f32261 !important;
  font-size: 30px;
  font-weight: 700;
}
@media all and (max-width: 1200px) {
  #popup-7 {
    width: 100%;
  }
  #popup-7 h1 {
    font-size: 20px;
  }
}

/* popup-08 */
#popup-8 {
  padding: 30px;
  background: #fff;
}
#popup-8 .product .img {
  flex: 0 1 60px;
  min-width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: top;
}
#popup-8 .product .info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
#popup-8 .product .info p {
  font-size: 0.875rem !important;
}
#popup-8 .product .info p a {
  color: #000;
}
#popup-8 .product .discount {
  color: rgb(153, 153, 153);
  text-decoration: line-through;
}
@media all and (max-width: 991px) {
  #popup-8 .product .img {
    flex: 0 1 80px;
    min-width: 80px;
    height: 100px;
  }
  #popup-8 .product button {
    width: 100%;
  }
}
