body {
  background: rgb(242, 242, 242);
}

a {
  font-weight: 300;
  text-decoration: underline;
  color: #478ac9 !important;
}

/* popup 01 */
#popup-1 {
  width: 600px;
  background-color: #222533;
  color: white;
  padding: 40px 120px;
}
#popup-1 h1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 40px;
}
#popup-1 h1 p {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0;
}
#popup-1 .btn-get-code {
  width: 210px;
}
#popup-1 input {
  border-radius: 0.45rem !important;
  border: solid 1px rgb(179, 179, 179);
  font-size: 0.875rem;
}
#popup-1 a {
  color: rgb(169, 170, 173);
  text-decoration: underline !important;
}
@media all and (max-width: 767px) {
  #popup-1 {
    width: 100%;
    padding: 40px 15px;
  }
}

/* popup 02 */
#popup-2 {
  width: 790px;
}
#popup-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#popup-2 .content {
  background: #fff;
  padding: 90px 20px !important;
}
#popup-2 h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
#popup-2 p {
  font-size: 1.125rem;
  width: 273px;
  margin: 20px auto 40px;
  color: #999;
}
#popup-2 input {
  border-radius: 0.45rem !important;
  font-size: 0.875rem;
  border: solid 1px rgb(179, 179, 179);
}
#popup-2 .btn-activate {
  width: 210px;
}
@media all and (max-width: 767px) {
  #popup-2 {
    width: 100%;
  }
}

/* popup 03 */
#popup-3 {
  width: 800px;
  padding: 30px;
  background: #fff;
}
#popup-3 h1 {
  width: 500px;
  font-size: 30px;
  font-weight: 400;
}
#popup-3 h2 {
  font-size: 24px;
  font-weight: 400;
}
#popup-3 .img {
  width: 100%;
  height: 100%;
  background: url("../img/Product-61.jpg");
  background-position: center;
  background-size: cover;
}
#popup-3 .select2.select2-container {
  width: 100% !important;
  margin-bottom: 12px !important;
}
#popup-3 .title {
  font-size: 1.25rem;
  font-weight: 700;
}
#popup-3 .desc {
  line-height: 1.4;
  font-size: 0.85rem;
  font-style: normal;
  color: rgb(128, 128, 128);
}
#popup-3 .stock i {
  font-size: 25px;
}
#popup-3 .stock {
  color: #f32261 !important;
}
#popup-3 .price {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #f32261 !important;
}
#popup-3 .price .discount {
  text-decoration: line-through;
  font-size: 0.875rem;
  color: #000;
  font-weight: 300;
  padding: 0 10px;
}
#popup-3 .price .save {
  color: #69ac34 !important;
  font-size: 0.875rem;
  background-color: #e4f0db;
  padding: 2px 5px;
  font-weight: 300;
}
#popup-3 .divider {
  width: 100px;
  height: 3px;
  border-color: #f32261;
  margin: 0 auto 15px;
  stroke: #f32261;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-width: 2px;
  border-style: solid;
}
@media all and (max-width: 991px) {
  #popup-3 {
    width: 600px;
  }
}
@media all and (max-width: 767px) {
  #popup-3 {
    width: 100%;
  }
  #popup-3 .img {
    margin-bottom: 30px;
    height: 600px;
  }
  #popup-3 h1 {
    width: 100%;
    font-size: 20px;
  }
  #popup-3 h2 {
    font-size: 15px;
  }
}
